.bg-banner {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,153,184,1) 100%);
}

.h-30 {
    height: 45vh;
}

.w-5 {
    width: 10%;
}

.gradient-custom {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,153,184,1) 100%);
}

a.navbar-item {
    color: #212529;
}

a.navbar-item:hover {
    color: #109cdd;
}

div.bg-banner>* {
    text-shadow: 2px 2px 2px #000000;
}